@import url(./globals.css);

/* Componente NavBar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    background-color: var(--primary-bg-color);
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.list-left, .list-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-left {
    margin-left: 8%;
}

.list-right {
    margin-right: 8%;
}

.icon-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--secondary-border-color);
    padding: 0.8rem;
    border-radius: 50%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    background-color: var(--primary-border-color);
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-nav:hover, .button-nav:hover {
    transform: scale(1.1);
}

.list-left > * {
    margin-right: 2.5rem;
    cursor: pointer;
}

.list-left li p:hover {
    color: var(--text-alternative);
}

.list-right > *:not(:last-child) {
    margin-right: 1.8rem;
    cursor: pointer;
}

/* Componente Slider */

.section-slider {
    padding-top: 8rem;
    display: flex;
    width: 100%;
}

.section-slider img {
    width: 100%;
}

/* Componente Game-Listener */

.section-gamelistener {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
}

.tittle-and-tags {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-game-box {
    display: flex;
    flex-direction: row;
}

.icons-game-box > *:not(:last-child) {
    margin-right: 1rem;
}

.icon-gamelist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--secondary-border-color);
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 100px;
}

.icon-gamelist h1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.game-box-listener {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3rem 0 3rem 0;
}

.game-box-img {
    width: 250px;
    height: 310px;
}

.game-img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Componente News */

.section-news {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.section-news h1 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 3rem;
}

.news-box {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.card-news-main {
    width: 900px;
    border-radius: 10px;
    height: fit-content;
    background-color: var(--secondary-bg-color);
}

.card-news-main img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-news-main .text-news {
    padding: 1rem 0 0 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.card-news-main h2 {
    padding: 0 0 1rem 1rem;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--text-alternative);
}

.cards-news {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-news {
    width: 350px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}

.card-news img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-news h2 {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

.card-news h3 {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: lighter;
    color: var(--text-alternative);
}